* {
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
}

img {
  border: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

nav ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

/*====== Fonts ======*/
/*====== Margins, paddings ======*/
/*====== Bootstrap ======*/
/*====== Media queries ======*/
/*====== Colors ======*/
/*====== Classes ======*/
a, .sec-synopsis, a:hover, .sec-synopsis:hover, a:focus, .sec-synopsis:focus, a:visited, .sec-synopsis:visited {
  text-decoration: none;
  text-decoration: none !important;
}

.sec-dark .snapsvg-darkDots, .sec-mid .snapsvg-darkDots {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 3596px;
  margin-left: -1753px;
  left: 50%;
}

.sec-dark > .secw-base, .sec-mid > .secw-base, .el-FrontContent {
  position: relative;
  z-index: 1;
}

.block-gList, .block-gList .col-sm-4 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: normal;
  letter-spacing: 0;
}

html {
  font-size: 100%;
}

/*====== Text sizes & Headers ======*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-top: 54px;
  margin-top: 3.375rem;
  margin-bottom: 54px;
  margin-bottom: 3.375rem;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 10px;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: 300;
}

h1 {
  font-size: 35px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: #F15A24;
}

.t-big {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
}

.t-mid {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
}

/*====== end of Text sizes & Headers ======*/
/*====== Text styles ======*/
body {
  color: #000;
}

b {
  font-weight: 500;
}

a {
  color: #03A5ED;
}
a:hover {
  color: #27bbfc;
  text-decoration: underline;
  text-decoration: underline !important;
}

.text-hyphened {
  text-align: justify;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.t-break {
  word-break: break-all;
}

.t-nowrap {
  white-space: nowrap;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-blue {
  color: #03A5ED;
  color: #03A5ED !important;
}

/*====== end of Text styles ======*/
/*====== Text elements ======*/
ul, ol {
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-bottom: 27px;
  margin-bottom: 1.6875rem;
}
ul ul, ul ol, ol ul, ol ol {
  margin-top: 27px;
  margin-top: 1.6875rem;
}

li, p, blockquote {
  margin-bottom: 27px;
  margin-bottom: 1.6875rem;
}
li:last-child, p:last-child, blockquote:last-child {
  margin-bottom: 0;
}

code {
  max-height: 120px;
  word-break: break-all;
}

table td, table th {
  vertical-align: top;
  padding: 13.5px;
  padding: 0.84375rem;
}
@media screen and (max-width: 768px) {
  table td, table th {
    display: block;
    padding: 8.1px;
    padding: 0.50625rem;
  }
}

.img-block {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-fullback {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*====== end of Text elements ======*/
/*====== Margins & paddings ======*/
.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

/*====== end of Margins & paddings ======*/
/*====== Other ======*/
.embed-video iframe, .embed-video object, .embed-video embed {
  border: 0;
}
.embed-video.responsive-true {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  overflow: hidden;
}
.embed-video.responsive-true iframe, .embed-video.responsive-true object, .embed-video.responsive-true embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*====== end of Other ======*/
@keyframes FadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes BounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes HamburgerLineDown {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes HamburgerLineUp {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes Scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes DrawSvgPath {
  to {
    stroke-dashoffset: 0;
  }
}
.anyslide[data-anyslide~='controls'] {
  position: relative;
}
.anyslide[data-anyslide~='controls'] .js-slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .anyslide[data-anyslide~='controls'] .js-slider-controls {
    display: none;
  }
}
.anyslide[data-anyslide~='controls'] .js-slider-controls .prev, .anyslide[data-anyslide~='controls'] .js-slider-controls .next {
  position: absolute;
  top: 0;
  display: block;
}
.anyslide[data-anyslide~='controls'] .js-slider-controls .prev.disabled, .anyslide[data-anyslide~='controls'] .js-slider-controls .next.disabled {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
  cursor: default;
}
.anyslide[data-anyslide~='controls'] .js-slider-controls .prev {
  left: 0;
}
.anyslide[data-anyslide~='controls'] .js-slider-controls .next {
  right: 0;
}

.js-slider-viewport .slide {
  display: none;
  opacity: 0;
}
.js-slider-viewport .slide.active {
  display: block;
  animation: 0.8s FadeIn ease-in-out forwards;
}

.anyslide-loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 40px auto;
}
.anyslide-loader:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: #03A5ED;
  border-left-color: #03A5ED;
  border-bottom-color: #03A5ED;
  animation: Spin 1s infinite;
}

@keyframes FadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
input:not([type='submit']), input:not([type='button']), select, input[type='submit'], input[type='button'], button {
  border-radius: 2px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 0;
  font-weight: 300;
  display: block;
  padding: 12px 24px;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
}

input:not([type='submit']), input:not([type='button']), select {
  background-color: #fff;
  color: #000;
}

input[type='submit'], input[type='button'], button {
  background-color: #F15A24;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
input[type='submit'][disabled], input[type='button'][disabled], button[disabled] {
  background-color: #ccc;
  cursor: default;
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
span.loader {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border-color: white;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  animation: 0.8s rotateLoader ease-in-out infinite;
}

.msg-ok {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 1.2;
  display: block;
  padding: 10px 20px;
  background-color: #8ea6bf;
  border: 1px solid #6D8CAD;
  color: #fff;
}

@-ms-viewport {
  width: device-width;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

.order-1 {
  -ms-flex-order: 1;
      order: 1;
}

.order-2 {
  -ms-flex-order: 2;
      order: 2;
}

.order-3 {
  -ms-flex-order: 3;
      order: 3;
}

.order-4 {
  -ms-flex-order: 4;
      order: 4;
}

.order-5 {
  -ms-flex-order: 5;
      order: 5;
}

.order-6 {
  -ms-flex-order: 6;
      order: 6;
}

.order-7 {
  -ms-flex-order: 7;
      order: 7;
}

.order-8 {
  -ms-flex-order: 8;
      order: 8;
}

.order-9 {
  -ms-flex-order: 9;
      order: 9;
}

.order-10 {
  -ms-flex-order: 10;
      order: 10;
}

.order-11 {
  -ms-flex-order: 11;
      order: 11;
}

.order-12 {
  -ms-flex-order: 12;
      order: 12;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-1 {
    -ms-flex-order: 1;
        order: 1;
  }

  .order-sm-2 {
    -ms-flex-order: 2;
        order: 2;
  }

  .order-sm-3 {
    -ms-flex-order: 3;
        order: 3;
  }

  .order-sm-4 {
    -ms-flex-order: 4;
        order: 4;
  }

  .order-sm-5 {
    -ms-flex-order: 5;
        order: 5;
  }

  .order-sm-6 {
    -ms-flex-order: 6;
        order: 6;
  }

  .order-sm-7 {
    -ms-flex-order: 7;
        order: 7;
  }

  .order-sm-8 {
    -ms-flex-order: 8;
        order: 8;
  }

  .order-sm-9 {
    -ms-flex-order: 9;
        order: 9;
  }

  .order-sm-10 {
    -ms-flex-order: 10;
        order: 10;
  }

  .order-sm-11 {
    -ms-flex-order: 11;
        order: 11;
  }

  .order-sm-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-1 {
    -ms-flex-order: 1;
        order: 1;
  }

  .order-md-2 {
    -ms-flex-order: 2;
        order: 2;
  }

  .order-md-3 {
    -ms-flex-order: 3;
        order: 3;
  }

  .order-md-4 {
    -ms-flex-order: 4;
        order: 4;
  }

  .order-md-5 {
    -ms-flex-order: 5;
        order: 5;
  }

  .order-md-6 {
    -ms-flex-order: 6;
        order: 6;
  }

  .order-md-7 {
    -ms-flex-order: 7;
        order: 7;
  }

  .order-md-8 {
    -ms-flex-order: 8;
        order: 8;
  }

  .order-md-9 {
    -ms-flex-order: 9;
        order: 9;
  }

  .order-md-10 {
    -ms-flex-order: 10;
        order: 10;
  }

  .order-md-11 {
    -ms-flex-order: 11;
        order: 11;
  }

  .order-md-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-1 {
    -ms-flex-order: 1;
        order: 1;
  }

  .order-lg-2 {
    -ms-flex-order: 2;
        order: 2;
  }

  .order-lg-3 {
    -ms-flex-order: 3;
        order: 3;
  }

  .order-lg-4 {
    -ms-flex-order: 4;
        order: 4;
  }

  .order-lg-5 {
    -ms-flex-order: 5;
        order: 5;
  }

  .order-lg-6 {
    -ms-flex-order: 6;
        order: 6;
  }

  .order-lg-7 {
    -ms-flex-order: 7;
        order: 7;
  }

  .order-lg-8 {
    -ms-flex-order: 8;
        order: 8;
  }

  .order-lg-9 {
    -ms-flex-order: 9;
        order: 9;
  }

  .order-lg-10 {
    -ms-flex-order: 10;
        order: 10;
  }

  .order-lg-11 {
    -ms-flex-order: 11;
        order: 11;
  }

  .order-lg-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xl-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-1 {
    -ms-flex-order: 1;
        order: 1;
  }

  .order-xl-2 {
    -ms-flex-order: 2;
        order: 2;
  }

  .order-xl-3 {
    -ms-flex-order: 3;
        order: 3;
  }

  .order-xl-4 {
    -ms-flex-order: 4;
        order: 4;
  }

  .order-xl-5 {
    -ms-flex-order: 5;
        order: 5;
  }

  .order-xl-6 {
    -ms-flex-order: 6;
        order: 6;
  }

  .order-xl-7 {
    -ms-flex-order: 7;
        order: 7;
  }

  .order-xl-8 {
    -ms-flex-order: 8;
        order: 8;
  }

  .order-xl-9 {
    -ms-flex-order: 9;
        order: 9;
  }

  .order-xl-10 {
    -ms-flex-order: 10;
        order: 10;
  }

  .order-xl-11 {
    -ms-flex-order: 11;
        order: 11;
  }

  .order-xl-12 {
    -ms-flex-order: 12;
        order: 12;
  }
}
.flex-row {
  -ms-flex-direction: row !important;
      flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
      flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
      justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
      justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
      justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
      justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
      align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
      align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
      align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
      align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
      align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
      align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }

  .flex-sm-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }

  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }

  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }

  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }

  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }

  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }

  .justify-content-sm-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }

  .justify-content-sm-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }

  .justify-content-sm-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }

  .justify-content-sm-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }

  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }

  .align-items-sm-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }

  .align-items-sm-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }

  .align-items-sm-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }

  .align-items-sm-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }

  .align-items-sm-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }

  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }

  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }

  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }

  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }

  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }

  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }

  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }

  .align-self-sm-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }

  .align-self-sm-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }

  .align-self-sm-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }

  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }

  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }

  .flex-md-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }

  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }

  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }

  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }

  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }

  .justify-content-md-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }

  .justify-content-md-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }

  .justify-content-md-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }

  .justify-content-md-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }

  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }

  .align-items-md-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }

  .align-items-md-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }

  .align-items-md-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }

  .align-items-md-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }

  .align-items-md-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }

  .align-content-md-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }

  .align-content-md-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }

  .align-content-md-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }

  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }

  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }

  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }

  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }

  .align-self-md-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }

  .align-self-md-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }

  .align-self-md-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }

  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }

  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }

  .flex-lg-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }

  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }

  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }

  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }

  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }

  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }

  .justify-content-lg-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }

  .justify-content-lg-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }

  .justify-content-lg-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }

  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }

  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }

  .align-items-lg-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }

  .align-items-lg-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }

  .align-items-lg-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }

  .align-items-lg-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }

  .align-items-lg-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }

  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }

  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }

  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }

  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }

  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }

  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }

  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }

  .align-self-lg-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }

  .align-self-lg-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }

  .align-self-lg-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }

  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }

  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }

  .flex-xl-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
  }

  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
  }

  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
  }

  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }

  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }

  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }

  .justify-content-xl-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
  }

  .justify-content-xl-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }

  .justify-content-xl-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
  }

  .justify-content-xl-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
  }

  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }

  .align-items-xl-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
  }

  .align-items-xl-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
  }

  .align-items-xl-center {
    -ms-flex-align: center !important;
        align-items: center !important;
  }

  .align-items-xl-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
  }

  .align-items-xl-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
  }

  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }

  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }

  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }

  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }

  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }

  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }

  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important;
  }

  .align-self-xl-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }

  .align-self-xl-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }

  .align-self-xl-center {
    -ms-flex-item-align: center !important;
        align-self: center !important;
  }

  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }

  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
  }
}
/*======== FANCYBOX STANDARD =========*/
.fancybox-enabled {
  overflow: hidden;
}

.fancybox-enabled body {
  overflow: visible;
  -ms-touch-action: none;
  touch-action: none;
}

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  backface-visibility: hidden;
}

/* Make sure that the first one is on the top */
.fancybox-container ~ .fancybox-container {
  z-index: 99992;
}

.fancybox-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0f0f11;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  backface-visibility: hidden;
}

.fancybox-container--ready .fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  z-index: 99994;
  transition: opacity .2s;
  pointer-events: none;
  backface-visibility: hidden;
  direction: ltr;
}

.fancybox-show-controls .fancybox-controls {
  opacity: 1;
}

.fancybox-infobar {
  display: none;
}

.fancybox-show-infobar .fancybox-infobar {
  display: inline-block;
  pointer-events: all;
}

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  color: #ddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  pointer-events: all;
}

.fancybox-show-buttons .fancybox-buttons {
  display: block;
}

.fancybox-slider-wrap {
  overflow: hidden;
  direction: ltr;
}

.fancybox-slider-wrap,
.fancybox-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 99993;
  backface-visibility: hidden;
}

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
}

.fancybox-slide--image {
  overflow: hidden;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-content {
  display: inline-block;
  position: relative;
  margin: 44px auto;
  padding: 0;
  border: 0;
  width: 80%;
  height: calc(100% - 88px);
  vertical-align: middle;
  line-height: normal;
  text-align: left;
  white-space: normal;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video .fancybox-iframe {
  background: transparent;
}

.fancybox-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  background: transparent;
  background-size: 100% 100%;
}

.fancybox-controls--canzoomOut .fancybox-placeholder {
  cursor: zoom-out;
}

.fancybox-controls--canzoomIn .fancybox-placeholder {
  cursor: zoom-in;
}

.fancybox-controls--canGrab .fancybox-placeholder {
  cursor: grab;
}

.fancybox-controls--isGrabbing .fancybox-placeholder {
  cursor: grabbing;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.fancybox-error {
  position: absolute;
  margin: 0;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 380px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  background: #fff;
  cursor: default;
}

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fancybox-close-small {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  font: 21px/1 Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
  background: #fff;
  transition: background .2s;
  box-sizing: border-box;
  z-index: 2;
}

.fancybox-close-small:focus {
  outline: 1px dotted #888;
}

.fancybox-slide--video .fancybox-close-small {
  top: -36px;
  right: -36px;
  background: transparent;
}

.fancybox-close-small:hover {
  color: #555;
  background: #eee;
}

/* Caption */
.fancybox-caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0 30px;
  z-index: 99998;
  backface-visibility: hidden;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;
}

.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1;
}

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button {
  pointer-events: all;
}

.fancybox-caption a {
  color: #fff;
  text-decoration: underline;
}

/* Buttons */
.fancybox-button {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  outline: none;
}

.fancybox-button--disabled {
  cursor: default;
  pointer-events: none;
}

.fancybox-infobar__body, .fancybox-button {
  background: rgba(30, 30, 30, 0.6);
}

.fancybox-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.fancybox-button::before,
.fancybox-button::after {
  content: '';
  pointer-events: none;
  position: absolute;
  border-color: #fff;
  background-color: currentColor;
  color: currentColor;
  opacity: 0.9;
  box-sizing: border-box;
  display: inline-block;
}

.fancybox-button--disabled::before,
.fancybox-button--disabled::after {
  opacity: 0.5;
}

.fancybox-button--left::after {
  left: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: rotate(-135deg);
}

.fancybox-button--right::after {
  right: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: rotate(45deg);
}

.fancybox-button--left {
  border-bottom-left-radius: 5px;
}

.fancybox-button--right {
  border-bottom-right-radius: 5px;
}

.fancybox-button--close {
  float: right;
}

.fancybox-button--close::before, .fancybox-button--close::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
}

.fancybox-button--close::before {
  transform: rotate(45deg);
}

.fancybox-button--close::after {
  transform: rotate(-45deg);
}

/* Loading spinner */
.fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999;
}
@keyframes fancybox-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-controls {
    text-align: left;
  }

  .fancybox-button--left,
  .fancybox-button--right,
  .fancybox-buttons button:not(.fancybox-button--close) {
    display: none !important;
  }

  .fancybox-caption {
    padding: 20px 0;
    margin: 0;
  }
}
/* Fullscreen  */
.fancybox-button--fullscreen::before {
  width: 15px;
  height: 11px;
  left: 15px;
  top: 16px;
  border: 2px solid;
  background: none;
}

/* Slideshow button */
.fancybox-button--play::before {
  top: 16px;
  left: 18px;
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
  background: transparent;
}

.fancybox-button--pause::before {
  top: 16px;
  left: 18px;
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px 0 2px;
  background: transparent;
}

/* Thumbs */
.fancybox-button--thumbs span {
  font-size: 23px;
}

.fancybox-button--thumbs::before {
  top: 20px;
  left: 21px;
  width: 3px;
  height: 3px;
  box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
}

.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap,
.fancybox-container--thumbs .fancybox-caption-wrap {
  right: 220px;
}

.fancybox-thumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 220px;
  margin: 0;
  padding: 5px 5px 0 0;
  background: #fff;
  z-index: 99993;
  word-break: normal;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
}

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  max-width: 50%;
  padding: 0;
  margin: 0;
  width: 105px;
  height: 75px;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 5px solid #fff;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
  box-sizing: border-box;
}

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1);
}

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-thumbs > ul > li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    display: none !important;
  }

  .fancybox-container--thumbs .fancybox-controls,
  .fancybox-container--thumbs .fancybox-slider-wrap,
  .fancybox-container--thumbs .fancybox-caption-wrap {
    right: 0;
  }
}
.svg .sprite-basic-aira {
  background-image: url("../i/sprite.svg?1");
}

.sprite-basic-aira {
  background-image: url("../i/sprite.png?1");
}

.sprite-basic-aira {
  width: 100.23px;
  height: 23.44px;
  background-position: 0px 0px;
  display: inline-block;
}

header[role='banner'] {
  padding-top: 20px;
  padding-bottom: 40px;
}

#header-logo .img-block {
  max-width: 400px;
}

footer[role='contentinfo'] {
  font-weight: 300;
}
footer[role='contentinfo'] .col-md-6 section:first-child {
  padding-top: 0;
}
footer[role='contentinfo'] a {
  color: #F15A24;
}
footer[role='contentinfo'] a:hover {
  color: #f47e54;
}
footer[role='contentinfo'] h2 {
  margin-bottom: 22px;
}
footer[role='contentinfo'] .el-social {
  margin-right: 22px;
  transition: background-color 0.2s ease;
}
footer[role='contentinfo'] .el-social:last-child {
  margin-right: 0;
}
footer[role='contentinfo'] .el-social:hover {
  background-color: #fff;
}
footer[role='contentinfo'] .sec-techs {
  opacity: 0.7;
}

.sec-synopsis {
  display: block;
  border: 1px solid #357B9E;
  overflow: hidden;
  padding: 20px;
}
.sec-synopsis, .sec-synopsis:hover, .sec-synopsis h2, .sec-synopsis h2:hover {
  color: #357B9E !important;
}
.sec-synopsis h2 {
  font-size: 24px;
}
.sec-synopsis .sec-synopsis__text {
  padding-left: 144px;
}
.sec-synopsis .logo-robonomics-outline {
  width: 124px;
  float: left;
}
.sec-synopsis .logo-robonomics-outline path {
  stroke: #357B9E;
}
.sec-synopsis .logo-robonomics-outline circle {
  fill: #357B9E;
}

html, body {
  height: auto;
  min-height: 100%;
}

html {
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #F2F2F2;
  position: relative;
  opacity: 0;
  animation: 0.4s FadeIn ease-in forwards;
}

/*====== Set width of container ======*/
.secw-narrow {
  max-width: 680px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.secw-base {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.secw-full {
  box-sizing: border-box;
  width: 100%;
}

/*====== end of Set width of container ======*/
/*====== Flow elements ======*/
.f-zoom {
  overflow: hidden;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.d-t {
  display: table;
}
.d-t > * {
  display: table-cell;
}

.d-t_row {
  display: table-row;
}

.d-t_cell {
  display: table-cell;
}

.d-ib {
  display: inline-block;
}

.d-b {
  display: block;
}

.d-flexline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

/*====== Flow elements ======*/
/*====== Transitions ======*/
.fadeOut, .visible {
  transition: 0.3s ease-in-out opacity;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  position: relative;
}
.dropdown > .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1;
  padding: 30px 0;
  width: 100%;
  text-align: center;
}
.dropdown:hover > .dropdown-content {
  animation: 0.2s FadeIn 0.4s ease-out forwards;
}

/*====== end of Transitions ======*/
/*====== Bootstrap ======*/
.row *[class*='col-'] {
  margin-bottom: 54px;
  margin-bottom: 3.375rem;
}

/*====== end of Bootstrap ======*/
/*====== Sections ======*/
section {
  padding: 30px;
}

.sec-dark {
  background-color: #282B38;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.sec-dark .snapsvg-darkDots {
  top: 90px;
}

.sec-white {
  background-color: #fff;
}

.sec-mid {
  background-color: #535974;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.sec-mid .snapsvg-darkDots {
  top: 90px;
}

.sec-black {
  background-color: #000;
  color: #fff;
}
.sec-black h2, .sec-black h3 {
  color: #B5C0F1;
}

.sec-pad {
  padding-left: 60px;
  padding-left: 3.75rem;
}

.sec-dots__gray {
  background: url('../i/pattern_dot_gray.svg');
}

.sec-city {
  box-sizing: border-box;
  min-height: 306px;
}
.sec-city h2, .sec-city h3 {
  color: #6D8CAD;
}
@media screen and (min-width: 768px) {
  .sec-city {
    background-image: url('../i/pattern-city.svg');
    background-repeat: repeat-x;
    background-position: 100% 0;
  }
}

.block-white {
  background-color: #fff;
  color: #000;
  padding: 15px;
}

.block-video {
  position: relative;
}
.block-video:before, .block-video:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}
.block-video:before {
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 54px solid #B5C0F1;
  z-index: 0;
  margin-left: -27px;
  margin-top: -27px;
}
.block-video:after {
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 44px solid #03A5ED;
  z-index: 1;
  margin-left: -23px;
  margin-top: -22px;
}
.block-video:hover:before {
  border: 0;
  background-color: #B5C0F1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: 50% 50%;
  animation: 0.3s Scale 0.2s ease-in-out forwards;
}

.block-gList .block-gList__text {
  padding-right: 40px;
  font-weight: 500;
  color: #000;
}
.block-gList .block-gList__bul {
  display: inline-block;
  padding: 10px;
  border-radius: 54px;
  border: 1px dashed #000;
  line-height: 1;
  position: relative;
  margin-bottom: 27px;
  margin-bottom: 1.6875rem;
}
.block-gList .block-gList__bul span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 88px;
  height: 88px;
  border-radius: 44px;
  background-color: #000;
  color: #fff;
  font-weight: 100;
  font-size: 72px;
  line-height: 1;
}
.block-gList .col-sm-4 {
  overflow: hidden;
}
.block-gList .col-sm-4 .block-gList__bul:after {
  content: "";
  position: absolute;
  left: 115px;
  height: 2px;
  border-bottom: 1px dashed #000;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 500px;
}
@media screen and (max-width: 576px) {
  .block-gList .col-sm-4 .block-gList__bul:after {
    display: none;
  }
}
.block-gList .col-sm-4:last-child .block-gList__bul:after {
  display: none;
}

/*====== end of Sections ======*/
/*====== Random ======*/
.embed-video-fluid {
  width: 100%;
  position: relative;
  padding: 0;
  padding-top: 56.25%;
}
.embed-video-fluid iframe, .embed-video-fluid object, .embed-video-fluid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*====== end of Random ======*/
/*====== Logos ======*/
.logo-robonomics-outline path {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*====== end of Logos ======*/
/*====== Socials ======*/
.el-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1.5px solid #F15A24;
  margin-bottom: 10px;
}
.el-social > span {
  display: table-cell;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
}
.el-social path {
  fill: #F15A24;
}
.el-social .svgi-github, .el-social .svgi-telegram {
  position: relative;
  left: 1px;
  top: 2px;
}
.el-social .svgi-telegram {
  left: -3px;
  top: 1px;
}

/*====== end of Socials ======*/
/*====== Technologies ======*/
.sec-techs span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
  margin-bottom: 22px;
}
.sec-techs span:last-child {
  margin-right: 0;
}

/*====== end of Technologies ======*/
/*====== Fancybox define ======*/
.plugin-fancybox__popup {
  display: none;
}

/*====== end of Fancybox define ======*/
/*====== Fancybox rewrite ======*/
.fancybox-container .fancybox-bg {
  transform: scale(0);
}

.fancybox-container--ready .fancybox-bg {
  background-color: #535974;
  opacity: 1;
  transform: scale(1);
}

.fancybox-slide > * {
  width: 80%;
  min-width: 200px;
  max-width: 1500px;
  overflow: visible;
}

.fancybox-close-small {
  font-weight: 100;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 60px;
  height: auto;
  top: -40px;
  right: -40px;
  color: #F15A24;
}
.fancybox-close-small, .fancybox-close-small:hover, .fancybox-close-small:active {
  background: none;
  outline: none;
}
.fancybox-close-small:hover {
  color: #fff;
}

/*====== end of Fancybox rewrite ======*/
.step-1-secwhite {
  border: 1px solid #707070;
  color: #707070;
}

input:not([type='submit']), input:not([type='button']), select {
  border-radius: 8px;
  border: 1px solid #707070;
}

input[type='submit'], input[type='button'], button {
  border-radius: 8px;
  height: auto;
}

body.step-1 {
  background-image: url('../i/step-1-back@2x.png?1522912809');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 3000px 400px;
}

body.step-2 .secw-narrow, body.step-2 .secw-base {
  position: relative;
  z-index: 1;
}
body.step-2 .lighthouse {
  display: block;
  width: 549px;
  height: 497px;
  position: absolute;
  bottom: -7px;
  right: -225px;
  z-index: 0;
}
body.step-2 h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}
body.step-2 .sec-white {
  padding: 0;
  border: 1px solid #CCC;
}
body.step-2 .sec-white .d-t_cell {
  padding: 20px;
}
body.step-2 table {
  width: 100%;
}
body.step-2 table td {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
body.step-2 table td:last-child {
  border-right: 0;
}
body.step-2 table tr:last-child td {
  border-bottom: 0;
}

.step-2-actions .d-t_cell {
  width: 50%;
}
.step-2-actions .img-block, .step-2-actions button {
  max-width: 90%;
  margin: 0 auto;
}

.step-2-market {
  padding-bottom: 40px;
}
.step-2-market .col-md-4 {
  margin-bottom: 0;
  border-right: 1px solid #CCC;
  padding: 40px;
}
.step-2-market .col-md-4:last-child {
  border-right: 0;
}
.step-2-market p.t-break {
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}
.step-2-market p.t-break:last-child {
  border-bottom: 0;
}
