$icons: (
    sprite: (width: 587px, height: 29.5px, pngPath: '../i/sprite.png?6', svgPath: '../i/sprite.svg?6'),
    copy: (width: 16.87px, height: 21.07px, backgroundX: 0px, backgroundY: 0px),
    flag-de: (width: 22px, height: 14.4px, backgroundX: -17px, backgroundY: 0px),
    flag-en: (width: 22px, height: 14.4px, backgroundX: -39px, backgroundY: 0px),
    flag-jp: (width: 22px, height: 14.7px, backgroundX: -61px, backgroundY: 0px),
    flag-ru: (width: 22px, height: 14.4px, backgroundX: -83px, backgroundY: 0px),
    flag-zh: (width: 22px, height: 14.4px, backgroundX: -105px, backgroundY: 0px),
    github: (width: 15px, height: 17.2px, backgroundX: -127px, backgroundY: 0px),
    i-check: (width: 13.758px, height: 9.899px, backgroundX: -142px, backgroundY: 0px),
    i-checked: (width: 22.45px, height: 22.451px, backgroundX: -156px, backgroundY: 0px),
    i-close: (width: 16.2px, height: 16.2px, backgroundX: -179px, backgroundY: 0px),
    i-error: (width: 22.446px, height: 22.446px, backgroundX: -196px, backgroundY: 0px),
    i-nav: (width: 21.6px, height: 20px, backgroundX: -219px, backgroundY: 0px),
    i-profile: (width: 16px, height: 21px, backgroundX: -241px, backgroundY: 0px),
    logo-aira: (width: 25.257px, height: 25.257px, backgroundX: -257px, backgroundY: 0px),
    logo-aira-pale: (width: 25.3px, height: 25.3px, backgroundX: -283px, backgroundY: 0px),
    logo-robonomics: (width: 33.481px, height: 29.491px, backgroundX: -309px, backgroundY: 0px),
    logo-robonomics-pale: (width: 33.5px, height: 29.5px, backgroundX: -343px, backgroundY: 0px),
    reddit: (width: 15px, height: 12.5px, backgroundX: -377px, backgroundY: 0px),
    reddit-2: (width: 15px, height: 20.5px, backgroundX: -392px, backgroundY: 0px),
    sleep: (width: 39.8px, height: 28px, backgroundX: -407px, backgroundY: 0px),
    token-aira: (width: 25px, height: 25px, backgroundX: -447px, backgroundY: 0px),
    token-airakys: (width: 25px, height: 25px, backgroundX: -472px, backgroundY: 0px),
    token-xrt: (width: 25px, height: 25px, backgroundX: -497px, backgroundY: 0px),
    user-unknown: (width: 25px, height: 23.4px, backgroundX: -522px, backgroundY: 0px),
    work: (width: 39.8px, height: 28px, backgroundX: -547px, backgroundY: 0px),
);

$sprite: map-get($icons, sprite);

%back_svg{ background-image: url(map-get($sprite, svgPath)); }
%back_png{ background-image: url(map-get($sprite, pngPath)); }

@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);

    @extend %back_svg;

    // @extend %back_png;
    // .svg & { @extend %back_svg; }
}

.sprite-basic-copy{
  @include get-sprite('copy');
  display: inline-block;
}
.sprite-basic-flag-de{
  @include get-sprite('flag-de');
  display: inline-block;
}
.sprite-basic-flag-en{
  @include get-sprite('flag-en');
  display: inline-block;
}
.sprite-basic-flag-jp{
  @include get-sprite('flag-jp');
  display: inline-block;
}
.sprite-basic-flag-ru{
  @include get-sprite('flag-ru');
  display: inline-block;
}
.sprite-basic-flag-zh{
  @include get-sprite('flag-zh');
  display: inline-block;
}
.sprite-basic-github{
  @include get-sprite('github');
  display: inline-block;
}
.sprite-basic-i-check{
  @include get-sprite('i-check');
  display: inline-block;
}
.sprite-basic-i-checked{
  @include get-sprite('i-checked');
  display: inline-block;
}
.sprite-basic-i-close{
  @include get-sprite('i-close');
  display: inline-block;
}
.sprite-basic-i-error{
  @include get-sprite('i-error');
  display: inline-block;
}
.sprite-basic-i-nav{
  @include get-sprite('i-nav');
  display: inline-block;
}
.sprite-basic-i-profile{
  @include get-sprite('i-profile');
  display: inline-block;
}
.sprite-basic-logo-aira{
  @include get-sprite('logo-aira');
  display: inline-block;
}
.sprite-basic-logo-aira-pale{
  @include get-sprite('logo-aira-pale');
  display: inline-block;
}
.sprite-basic-logo-robonomics{
  @include get-sprite('logo-robonomics');
  display: inline-block;
}
.sprite-basic-logo-robonomics-pale{
  @include get-sprite('logo-robonomics-pale');
  display: inline-block;
}
.sprite-basic-reddit{
  @include get-sprite('reddit');
  display: inline-block;
}
.sprite-basic-reddit-2{
  @include get-sprite('reddit-2');
  display: inline-block;
}
.sprite-basic-sleep{
  @include get-sprite('sleep');
  display: inline-block;
}
.sprite-basic-token-aira{
  @include get-sprite('token-aira');
  display: inline-block;
}
.sprite-basic-token-airakys{
  @include get-sprite('token-airakys');
  display: inline-block;
}
.sprite-basic-token-xrt{
  @include get-sprite('token-xrt');
  display: inline-block;
}
.sprite-basic-user-unknown{
  @include get-sprite('user-unknown');
  display: inline-block;
}
.sprite-basic-work{
  @include get-sprite('work');
  display: inline-block;
}
